{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Safari versions",
            "last 2 iOs versions",
            "last 1 Android versions",
            "last 1 ChromeAndroid versions",
          ]
        }
      }
    ],
    [
      "@babel/preset-react", {"runtime": "automatic"}
    ],
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "macros"
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}

