* {
  margin: 0;
  font-family: sans-serif;
  color: black;
}
.navbar {
  padding: 5px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  font-size: 1em;
}

.navbar a {
  margin: auto;
  text-decoration: none;
}
.navbar a:hover {
  color: #f1356d;
}
.bottomNav {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #e3f2fd;
  
}
.bottomNav h1 {
  color: #f1356d;
  font-size: 1em;

}

.bottomNav h1:hover {
  font-weight: bolder;
}

.bottomNav a {
  margin: auto;
  text-decoration: none;
  /* padding: 1px; */
  text-align: center;
}
.bottomNav a:hover {
  color: #f1356d;
}
.content {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px;
  padding-bottom:60px;
}

.trick-details h2 {
  margin: 15px auto;
  font-size: 1.5em;
}

.trick-details h3 {
  margin: 7px auto;
  font-size: 0.8em;
}

.description {
  margin: 5px auto;
  font-size: 0.7em;
}

.trick-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}
.trick-preview-OLD {
  width: 31%;
  height: 4em;
  margin: 1%;
  border: 1px solid black;
  background: white;
}

.trick-preview {
  margin: 2px;
  width:100%;
  height:100%;
}

.trick-preview h2 {
  font-weight: bold
}

.link-to-trick {
  margin-bottom: 10px;
  text-decoration: none;
}

.link-to-trick h2 {
  font-size: 1em;
  font-family: sans-serif;
}

.kc_fab_main_btn {
  background-color: #F44336;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #F44336;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .3s;
  position: fixed;
  bottom: 75px;
  right: 25px;
}

.kc_fab_main_btn:focus {
  transform: scale(1.1);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}